/* Custom Styles - here ref：https://v1.vuepress.vuejs.org/config/#index-styl */

/* COLOR DE FONDO DE LA PÁGINA */
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #F3F3F4; 
}

/* BOTONES */
.action-button
  font-size 14px
  text-align: center
  color #fff
  background-color #1AB394
  padding: 10px 40px 10px 40px
  border-radius 4px
  transition background-color #189C82
  box-sizing border-box
  border-bottom 1px solid darken($accentColor, 10%)

/* BARRA LATERAL */
.sidebar
  background-color #3E2C42
  color white
